<a href="https://colab.research.google.com/github/shinjiyun0922/pythonbasicclass/blob/main/6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# for 반복문, 주로 반복횟수를 명확히 알고 있을 때 사용 
# for 변서 in 반복객체:
# 반복실행 

for i in [1,2,3]:
  print(i)

1
2
3

In [ ]:
for i in 'hello':
  print(i)

h
e
l
l
o

In [ ]:
for jiyun in ['가위','바위','보']:
  print(jiyun)

가위
바위
보

In [ ]:
# 리스트 내포 : for 문을 이용해서 리스트를 간단히 생성한다. 
[n*2  for n in [1,2,3]]

[2, 4, 6]

In [ ]:
[n*2. for n in [1,2,3,4,5]  if n%2==1] # 순서 가운데, 뒤, 앞

[2.0, 6.0, 10.0]

In [ ]:
four_seasons=('spring','summer','fall','winter')
for season in four_seasons:
  print(season)

spring
summer
fall
winter

In [ ]:
#range()
#정수 범위를 만들어 낼때 유요한 아주 많이 for문과 사용됨 
#range(start, stop, step) # start(0 부터),step(1 씩 증가 )
print(list(range(5))) # start 생략, step 생략 0,1,2,3,4 0부터 5미만 
print(list(range(1,11)))# step만 생략 1부터 11미만 
print(tuple(range(5)))

[0, 1, 2, 3, 4]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
(0, 1, 2, 3, 4)

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
for i in range(1,11,+1):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(1,11):  # i는 그냥 반복시키기 위해서
  print('hi')

hi
hi
hi
hi
hi
hi
hi
hi
hi
hi

In [ ]:
# 비시퀀스 
for item in {'가위', '바위','보'}:
  print(item)

바위
가위
보

In [ ]:
person={'name':'에밀리',
        'age': 20
    
}
for item in person:
  print(item, person[item])

name 에밀리
age 20

In [ ]:
for i in range(5,0,-1):
  print (i)

5
4
3
2
1

In [ ]:
no=int(input('임의의 양수를 입력하세요:'))
sum=0 # 초기값
for i in range(1,no+1):
  sum=sum+i        # sum += i 
print(f'1부터 {no}사이 모든 정수의 합계는 {sum}입니다.')

임의의 양수를 입력하세요:89
1부터 89사이 모든 정수의 합계는 4005입니다.

In [ ]:
no=int(input('몇 개의 과일을 보관할까요?:'))
fruits=[]
for i in range(1,no+1):
  fruit=input(f'{i}번째 과일을 입력하세요:')
  fruits.append(fruit)

print(f'입력받은 과일들은 {fruits}입니다.')

몇 개의 과일을 보관할까요?:6
1번째 과일을 입력하세요:포도
2번째 과일을 입력하세요:사과
3번째 과일을 입력하세요:딸기
4번째 과일을 입력하세요:오렌지
5번째 과일을 입력하세요:배
6번째 과일을 입력하세요:감
입력받은 과일들은 ['포도', '사과', '딸기', '오렌지', '배', '감']입니다.

In [ ]:
exam=[99,78,100,91,81,85,54,100,71,50]
exam2=[]
for i in exam: 
  if i >=95:
    exam2.append(100)
  else:
      exam2.append(i+5)
print(exam2)

[100, 83, 100, 96, 86, 90, 59, 100, 76, 55]

In [ ]:
# break 
# while 문이나 for 문에서 반복을 강제로 종료시킬 때 사용 
# while 과 많이 씀 

n=1
while n<= 10:
  print(n)
  n += 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
n=1
while True:
  print(n)
  if n==10:
    break
  n += 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
#continue
#반복 도중에 continue를 만나면 더 이상 아래로 내려가지 않고 다시 반복문으로 진입 

total=0
for a in range(1,101):
  if a % 3 ==0: 
    continue
  total += a
print(total)

3367

In [ ]:
cash=10000

while True:
  print(f'현재 {cash}원이 있습니다.')
  if cash==0:
    break
  pay= int(input('사용할 금액입력 :'))
  if pay <=0:
    print('0이하의 금액은 사용할 수 없습니다.')
  elif pay > cash:
    print(f'{pay-cash}원이 부족합니다.')
  else:
    cash-=pay # cash = cash-pay

현재 10000원이 있습니다.
현재 9988원이 있습니다.
현재 8647원이 있습니다.
현재 6627원이 있습니다.

In [ ]:
while True:
  score=int(input('이번 영화의 평점을 입력하세요:'))

  if score >= 1 and score <= 5:
   print(f'평점: {score* " # "}')
   break 
  else:
  print('평점은 1~5 사이만 입력할 수 있습니다.')

In [ ]:
password= 'qwerty'
tryno=0
while True: 
  if tryno == 5:
    print('비밀번호 입력 횟수를 초과했습니다.')
    break
  inpass= input('비밀번호를 입력하세요:')
  if password == inpass:
    print('비밀번호를 맞혔습니다.')
    break
  tryno += 1

In [ ]:
for i in range(2,10):
  for j in range(1,10):
    print(f'{i}*{j}={i*j}')

In [ ]:
for i in range(2,10):
  if i % 2 == 0:
    continue
  for j in range(1,10):
    if i<j:
      break
    print(f'{i}*{j}={i*j}')
  print()