<a href="https://colab.research.google.com/github/shinjiyun0922/pythonbasicclass/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
print("hello")

hello

In [5]:
print('"hello"')

"hello"

In [6]:
print ("11`n111")

11`n111

In [7]:
print ("예쁘장한 쥰니")

예쁘장한 쥰니

In [9]:
print ('010 8893 0559')

010 8893 0559

In [12]:
print("재미있는","파이썬")

재미있는 파이썬

In [13]:
print ('interesting', 'python', sep=',')

interesting,python

In [14]:
print (" annoying","python", sep='+')

 annoying+python

In [16]:
print ("영화 타이타닉")
print ('평점')
print ('5점')

영화 타이타닉
평점
5점

In [18]:
print ('영화 타이타닉')
print ('평점', end='')
print ('5point')

영화 타이타닉
평점5point

In [20]:
print('프린트 함수가가 제일 만만하군')

프린트 함수가가 제일 만만하군

In [19]:
print ('타이타닉')
print ('평점',end=':')
print ("5")

타이타닉
평점:5

In [23]:
print ("*")
print ("**")
print ("***")

*
**
***

In [33]:
print ('%d' % 10) # %d 정수 10진수 자리표시자자 
print ('%o' % 10) # %o 정수수 8진수 자리표시자자 
print ('%x' % 10) # 정수수 16진수 자리표시자자 
print ('%f' % 3.14) # 실수

10
12
a
3.140000

In [34]:
print ('%s'% 3.15) # s- 뭐든지 % stream would be useful

3.15

In [39]:
print ('%d' % 1)
print ('%5d' %1) #다섯칸을을 확보하고 오른쪽에 출력
print ('%5d'% 11)#

1
    1
   11

In [40]:
print ('%-5d' % 1) # 다섯칸을 확보하고 왼쪽에 출력력

1

In [41]:
print ('%5.2f' %3.14) #다섯칸을을 확보하고고 소수 2자리까지지 오른쪽에에 출력력 
print ('%5.1f'%3.141592 )

 3.14
  3.1

In [42]:
print ('%.2f' % 3.14) #소수 2자리까지 실수출력

3.14

In [52]:
from typing_extensions import final
# 기본출력
a= '학생'
print (a, '입니다')

# % 연산자 출력 방법
print ('%s 입니다.' % a)

# format () 출력 방법 
print ('{} 입니다.'. format (a))

# f

학생 입니다
학생 입니다.
학생 입니다.

In [62]:
age = 25 
print ( f '내년엔 { age+1}살이 됩니다.')

SyntaxError: ignored

In [63]:
# 표준입력
a= input ()
print (a)

as
as

In [64]:
n= input ('정수를 입력하세요:')
print (n)

정수를 입력하세요:3
3

In [61]:
# f- strings 

who = 'you'
now= 'happy'

print( f '{who} make me {how}')

SyntaxError: ignored

In [53]:
# format 매서드드 
print (' my name is {}'. format ('jiyun'))

 my name is jiyun

In [54]:
print (' my name is {name}' . format (name = 'jiyun'))

 my name is jiyun

In [56]:
print (' my name is {}. Im {} years old.' . format ('jiyun',20)) # 순서서

 my name is jiyun. Im 20 years old.

In [58]:
print ('my name is {name}. im {age} years old.'. format (name = 'jiyun', age = 20))

my name is jiyun. im 20 years old.

In [36]:
print ('%s' %'신지윤')

신지윤